.Currency{
    background:#33C7CB;
    padding: 5px;
    color:black;
    text-align: center;
    border-radius: 2px black;
    border-radius: 10px;
}
.Currency span {
    font-size: 20px !important;
    font-weight: bold !important;
}
.Currency .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}