.Item {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.Item .card-content {
 padding-top:10px !important;
 padding-bottom:10px;
 border: 1px solid black !important;
 border-radius: 10px !important;
 
}
.Item .name{
    font-weight: bold;
    font-size: 15px;
}
.Item  span{
    margin-left: 3px;
    font-weight: lighter;
    font-size: 15px;
}