/* .owl-theme .owl-nav {
    margin-top: 0px !important;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .owl-theme .owl-nav [class*='owl-']{
    margin: 0 !important;
  }
  .owl-carousel.owl-theme.owl-loaded {
    margin-top: 30px;
}
  button.owl-prev span, button.owl-next span {
    font-size: 45px;
    opacity: 0.2;
  }
  .card {
    margin: 0;
  }
  .owl-item {
    height: 200px;
}
  .item.card{height: 100%;}
  .owl-dots {display: none;} */